@import url("https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:400");
:root {
  /* define the colors */
  --black: #0c141d;
  --white: #f5f5f5;
  --green: #75eb9c;
  --blue: #35a7ff;
  --red: #ff5964;
  --yellow: #ffe74c;
  --grey: #bfbfbf;
  --darkBlue: #122a33;

  /* Define the colors intentions */
  --background: var(--white);
  --textColor: var(--black);
  --danger: var(--red);
  --success: var(--green);
  --warning: var(--yellow);
  --lineColor: var(--grey);

  /* style */
  --line: 1px solid var(--lineColor);
  --cardBg: #fff;
  --border-radius: 10px;
  --header-background: var(--blue);
  --footerBackground: var(--black);

  /* Type */
  --headingFont: "Oswald", sans-serif;
  --bodyFont: "Open Sans", sans-serif;
  --baseFontSize: 100%;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;

  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* positioning */
  --containerPadding: 2.5%;
  --header-height: 3rem;
}

/* From Typescale */
html {
  font-size: var(--baseFontSize); /*18px*/
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.65;
  background: var(--background);
  color: var(--textColor);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: var(--white);
  height: var(--header-height);
  background-color: var(--header-background);
  box-shadow: var(--level-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--containerPadding);
}

header nav a {
  color: var(--white);
  text-decoration: none;
}

header nav a + a {
  margin-left: 10px;
}

footer {
  --footer-text-color: var(--grey);
  color: var(--footer-text-color);
  background: var(--footerBackground);
  padding: 2rem var(--containerPadding);
  text-align: center;
}

footer a {
  color: var(--footer-text-color);
  text-decoration: none;
}

footer p {
  margin-bottom: none;
  max-width: none;
  text-align: center;
}
p {
  margin-bottom: 1.15rem;
  max-width: 40em;
}

p a,
blockquote a {
  color: var(--textColor);
  text-decoration: none;
  border-bottom: 2px solid var(--success);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--smallText);
}

/* end typescale */

blockquote {
  background-color: var(--cardBg);
  margin: 10px;
  padding: 2em;
  box-shadow: var(--level-3);
}

label {
  display: block;
  font-size: var(--smallText);
}

input,
textarea {
  border: none;
  box-shadow: var(--level-1);
  border-radius: 4px;
  padding: 5px 5px;
}

select {
  border: var(--line);
}
hr {
  border-top: var(--line);
}

textarea {
  width: 100%;
  height: 5rem;
}

::placeholder {
  color: var(--grey);
}

button {
  --buttonColor: var(--success);
  --textColor: var(--textColor);
  appearance: none;
  background-color: var(--buttonColor);
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  box-shadow: var(--level-1);
  transition: 0.3s ease-in-out box-shadow;
}

button:hover {
  box-shadow: var(--level-2);
}

button[disabled] {
  opacity: 0.4;
}

button.small {
  font-size: var(--smallText);
}

button.cancel {
  --buttonColor: var(--danger);
  --textColor: var(--white);
}

.layout {
  padding: calc(3rem + var(--header-height)) var(--containerPadding);
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.cols-3 {
  --gridCols: 3;
}

.split {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-gap: 20px;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}

.flex-around {
  --justifyContent: block;
}

@media only screen and (min-width: 500px) {
  :root {
    --baseFontSize: 112.5%;
  }
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}

.logo {
  font-size: var(--baseFontSize);
  margin: 0;
}

.card {
  background-color: var(--cardBg);
  padding: 2em;
  box-shadow: var(--level-3);
  border-radius: var(--border-radius);
}

.card > *:first-child {
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 0;
}

.dark {
  --background: var(--black);
  --textColor: var(--white);
  --header-background: var(--darkBlue);
  --cardBg: var(--darkBlue);
  --footerBackground: var(--darkBlue);
}
